<!-- @format -->

<!DOCTYPE html>
<html date-theme='luxury' lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block head_title %}Book Oasis{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    {% include "core/navbar.html" %}
    <div id='main'>
      {% include "core/messages.html" %}
      {% block body %}{% endblock  %}
    </div>
    {% include "core/footer.html" %}
  </body>
</html>
