<!-- @format -->

{% extends "core/base.html" %} {% block head_title %} {{book.title}}
{%endblock%} {% block body %}
<section>
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row items-start">
      <img
        class="min-h-96"
        src="{{book.image.url}}"
        class="max-w-sm rounded-lg shadow-2xl"
      />
      <div>
        <h1 class="text-4xl font-bold">
          {{book.title}}
          <div class="badge badge-secondary">{{book.category.name}}</div>
        </h1>
        <p class="py-6">{{book.description}}</p>
        <h2 class="text-2xl font-semibold">
          Borrowing Price:
          <kbd class="kbd kbd-md text-xl">${{book.price}}</kbd>
        </h2>
        <h2 class="text-2xl font-semibold pb-3">
          Available Stock: {{book.quantity}}
        </h2>
        <form action='{% url "borrow_book" book.id %}' method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">
            {% if user.is_authenticated %}Borrow Book {% else %}Please Login to
            borrow{% endif %}
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class='p-4'>
    <h2 class="text-2xl font-semibold">Add a Review</h2>
    <form method="post" class='flex flex-col items-start justify-center gap-4'>
      {% csrf_token %}
      <textarea class='textarea w-1/3 textarea-primary' name="body" id="body" required placeholder='enter your review'></textarea>
       {% if form.body.errors %} {% for error in form.body.errors
      %}
      <p class="text-red-600 text-sm italic pb-2">{{error}}</p>
       {% endif %}
      <button type="submit" class="btn btn-info">Add Review</button>
    </form>
    <div>
      <h2 class='text-2xl font-semibold'>
        Total Review ({{reviews|length}})
      </h2>
      <div>
        {% for review in reviews %}
        <div class='p-2 border border-gray-700 my-1 hover:border-gray-600 rounded-xl'>
          <h4 class='text-base'>
            {{review.created_on}}
          </h4>
          <div class='px-3 py-2 text-lg'>
            <h4>
              {{review.body}}
            </h4>
            <h4>
              <span class='italic text-sm'>by</span>
              {{review.user.first_name}}
              {{review.user.last_name}}
            </h4>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
